.venv
.pytest_cache
**/__pycache__
.vscode
dist/
build/
*.egg-info/
# Python cache and packaging
*.pyc
*.pyo
*.pyd
__pycache__/
# VSCode settings
.settings/
# Test output
coverage*
# OS files
.DS_Store
Thumbs.db